@use '../utils' as *;

footer {
   text-align: center;
   font-size: .7em;

   @include responsive($mobile-size) {
      margin-bottom: 20px;
   }

   a {
      color: $dark-cyan;
      &:hover {
         color: $bright-orange;
      }
   }
}